@font-face{
    font-family: 'dodge';
    src: url(../css/font/dodge.ttf);
}@font-face{
    font-family: 'blazed';
    src: url(../css/font/dodge.ttf);
}

html{
    background-color: black;
}
header > img{
    top: 0px;
    position: fixed;
    z-index: 2;
    height: 5em;
    width: 5em;
}
header > a > h1{
    position: fixed;
    z-index: 2;
    font-family: 'blazed';
    color: red;
    left: 4em;
    top: .3em;
    font-size: 250%;
}
.nav{
    margin: 0px;
    top:0px;
    left: 0px;
    background: grey;
    position: fixed;
    width: 100%;
    font-family: 'dodge';
    color: white;
    height: 5.5em;
    border-bottom: white solid 2px;
}
.nav a {
    padding-top: 4px;
    padding-bottom: 6px;
    text-decoration: none;
    margin-top:auto;
    margin-bottom: auto;
    font-size: 150%;
    color: black;
}
.nav > a:hover{
    color: red;
}
.nav img{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 2em;
}
.grid-container{
    margin-left: 50px;       
    margin-right: 50px;
}

.mid > img{
    position: fixed;
    height: 15em;
    width: 15em;
    left: 20em;
    top: 10em;
}
.mid > h1{
    position: fixed;
    top: 8em;
    color: white;
    font-family: 'blazed';
    width: 20em;
    text-align: center;
    left: 18em;
    text-shadow: red 2px 2px 10px;
}
.mid > p{
    color: white;
    font-family: 'blazed';
    position: fixed;
    top: 25em;
    text-align: center;
}
.one > a > h2{
    position: absolute;
    list-style: none;
    display: flexbox; /*inline, block, inline-block, none*/
    flex-direction: column;/*column, row-reverse, column reverse*/
    flex-wrap: wrap;/*no-wrap, wrap-reverse, wrap*/
    justify-content: space-evenly;/*flex-end, center, space-evenly,space-between, space-around, flex-start*/
    align-content: space-evenly;/*flex-end, center, space-between,flex-start, space-evenly, space-around, stretch*/
    color: white;
    top: 2em;
    left: -26.5em;
    font-family: 'blazed';
    font-size: 90%;
}
.one > a > h2:hover{
    color: red;
}
.one > img{
    position: relative;
    height: 2em;
    width: 2em;
    left: -2em;
    top: 2em;
}
.one:hover{
    -ms-transform: translate(350px, 0px);
    -webkit-transform: translate(350px, 0px);
    transform: translate(350px, 0px);
    transition: 3s;
}
.two > a > h2{
    position: relative;
    list-style: none;
    display: flexbox; /*inline, block, inline-block, none*/
    flex-direction: column;/*column, row-reverse, column reverse*/
    flex-wrap: wrap;/*no-wrap, wrap-reverse, wrap*/
    justify-content: space-evenly;/*flex-end, center, space-evenly,space-between, space-around, flex-start*/
    align-content: space-evenly;/*flex-end, center, space-between,flex-start, space-evenly, space-around, stretch*/
    color: white;
    top: 4.7em;
    left: -16em;
    font-family: 'blazed';
    font-size: 90%;
}
.two > a > h2:hover{
    color: red;
}
.two > img{
    position: relative;
    height: 2em;
    width: 2em;
    left: -2em;
    top: 2em;
}
.two:hover{
    -ms-transform: translate(200px, 0px);
    -webkit-transform: translate(200px, 0px);
    transform: translate(200px, 0px);
    transition: 3s;
}
.three > a > h2{
    position: relative;
    list-style: none;
    display: flexbox; /*inline, block, inline-block, none*/
    flex-direction: column;/*column, row-reverse, column reverse*/
    flex-wrap: wrap;/*no-wrap, wrap-reverse, wrap*/
    justify-content: space-evenly;/*flex-end, center, space-evenly,space-between, space-around, flex-start*/
    align-content: space-evenly;/*flex-end, center, space-between,flex-start, space-evenly, space-around, stretch*/
    color: white;
    top: 4.7em;
    left: -12em;
    font-family: 'blazed';
    font-size: 90%;
}
.three > a > h2:hover{
    color: red;
}
.three > img{
    position: relative;
    height: 2em;
    width: 2em;
    left: -2em;
    top: 2em;
}
.three:hover{
    -ms-transform: translate(200px, 0px);
    -webkit-transform: translate(200px, 0px);
    transform: translate(200px, 0px);
    transition: 3s;
}