@font-face{
    font-family: 'dodge';
    src: url(../css/font/dodge.ttf);
}@font-face{
    font-family: 'blazed';
    src: url(../css/font/dodge.ttf);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    html{
    background-color: blue;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    html{
        background-color: yellow;
    }
}
    /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    html{
        background-color: black;
        color: red;
        font-size: 150%;
        background-image: url(../images/fire-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 35em;
    }
    body{
        margin-left: 150px;
        margin-right: 150px;
    }
    header{
        font-family: 'dodge';
        text-align: center;
        font-size: 150%;
    }
    .logo img{
        width: 50px;
        height: 50px;
    }
    
}